# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [85]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["ID_UF", 
               "ID_MUNICIPIO", 
               "ID_LOCALIZACAO",
               "ID_DEPENDENCIA_ADM",
               "NIVEL_SOCIO_ECONOMICO",
               "TX_RESP_Q001", 
               "TX_RESP_Q002", 
               "TX_RESP_Q003",
               "TX_RESP_Q004", 
               "TX_RESP_Q005", 
               "TX_RESP_Q006", 
               "TX_RESP_Q007", 
               "TX_RESP_Q008", 
               "TX_RESP_Q009", 
               "TX_RESP_Q010", 
               "TX_RESP_Q011", 
               "TX_RESP_Q012", 
               "TX_RESP_Q013", 
               "TX_RESP_Q014", 
               "TX_RESP_Q015", 
               "TX_RESP_Q016", 
               "TX_RESP_Q017",
               "TX_RESP_Q018", 
               "TX_RESP_Q019", 
               "TX_RESP_Q020", 
               "TX_RESP_Q021", 
               "TX_RESP_Q022", 
               "TX_RESP_Q023", 
               "TX_RESP_Q024", 
               "TX_RESP_Q025", 
               "TX_RESP_Q026", 
               "TX_RESP_Q027", 
               "TX_RESP_Q028", 
               "TX_RESP_Q029",
               "TX_RESP_Q030",
               "TX_RESP_Q031", 
               "TX_RESP_Q032", 
               "TX_RESP_Q033", 
               "TX_RESP_Q034", 
               "TX_RESP_Q035", 
               "TX_RESP_Q036", 
               "TX_RESP_Q037",
               "TX_RESP_Q038", 
               "TX_RESP_Q039", 
               "TX_RESP_Q040", 
               "TX_RESP_Q041", 
               "TX_RESP_Q042", 
               "TX_RESP_Q043", 
               "TX_RESP_Q044", 
               "TX_RESP_Q045", 
               "TX_RESP_Q046", 
               "TX_RESP_Q047", 
               "TX_RESP_Q048", 
               "TX_RESP_Q049",
               "TX_RESP_Q050",
               "TX_RESP_Q051", 
               "TX_RESP_Q052", 
               "TX_RESP_Q053",
               "TX_RESP_Q054", 
               "TX_RESP_Q055", 
               "TX_RESP_Q056", 
               "TX_RESP_Q057", 
               "TX_RESP_Q058", 
               "TX_RESP_Q059", 
               "TX_RESP_Q060", 
               "TX_RESP_Q061", 
               "TX_RESP_Q062", 
               "TX_RESP_Q063", 
               "TX_RESP_Q064", 
               "TX_RESP_Q065", 
               "TX_RESP_Q066", 
               "TX_RESP_Q067",
               "TX_RESP_Q068", 
               "TX_RESP_Q069", 
               "TX_RESP_Q070", 
               "TX_RESP_Q071", 
               "TX_RESP_Q072", 
               "TX_RESP_Q073", 
               "TX_RESP_Q074", 
               "TX_RESP_Q075", 
               "TX_RESP_Q076", 
               "TX_RESP_Q077", 
               "TX_RESP_Q078"];

    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Resultado Prova Brasil": 
                {
                "Ano": data["ID_PROVA_BRASIL"],
                "Média 5º ano":
                    {
                        "Língua Portuguesa": data["MEDIA_5EF_LP"],
                        "Matemática": data["MEDIA_5EF_MT"]
                    },
                "Média 9º ano": 
                    {
                        "Língua Portuguesa": data["MEDIA_9EF_LP"],
                        "Matemática": data["MEDIA_9EF_MT"]
                    },
                "Média 3º/4º série do ensino médio": 
                    {
                        "Língua Portuguesa": data["MEDIA_3EM_LP"],
                        "Matemática": data["MEDIA_3EM_MT"]
                    }
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["ID_MUNICIPIO"] == 4314407
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["ID_ESCOLA"]}, {"$set": teste1});

### Conexão com o BD:

In [81]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [15]:
provaBrasil = readXLSX(r'C:\Users\mbrug\Documents\AnacondaRepositorio\schoolDataCollectionPelotas\Datasets\INEP\TS_ESCOLA.xlsx')

In [18]:
provaBrasil.head(10)

,ID_PROVA_BRASIL,ID_UF,ID_MUNICIPIO,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,PC_FORMACAO_DOCENTE_INICIAL,PC_FORMACAO_DOCENTE_FINAL,PC_FORMACAO_DOCENTE_MEDIO,NIVEL_SOCIO_ECONOMICO,...,TX_RESP_Q065,TX_RESP_Q066,TX_RESP_Q067,TX_RESP_Q068,TX_RESP_Q069,TX_RESP_Q070,TX_RESP_Q071,TX_RESP_Q072,TX_RESP_Q073,TX_RESP_Q074
0,2017,11,1100015,11024666,3,2,83.3,55.6,NaN,Grupo 2,...,A,C,B,A,A,A,A,A,B,A
1,2017,11,1100015,11024682,2,1,94.2,64.1,NaN,Grupo 3,...,A,C,B,A,A,A,A,A,A,A
2,2017,11,1100015,11024828,3,1,100.0,55.6,NaN,Grupo 3,...,A,B,B,A,B,B,A,A,A,B
3,2017,11,1100015,11024968,2,1,NaN,48.9,77.1,Grupo 3,...,B,C,C,A,B,B,A,A,A,B
4,2017,11,1100015,11025077,3,1,100.0,55.6,NaN,NaN,...,B,B,B,A,A,B,A,A,A,C
5,2017,11,1100015,11025310,3,1,78.6,63.9,NaN,NaN,...,A,B,A,A,A,B,A,A,A,A
6,2017,11,1100015,11025352,3,2,100.0,55.6,NaN,NaN,...,A,NaN,B,A,A,B,B,A,A,A
7,2017,11,1100015,11025620,2,1,85.0,45.0,NaN,Grupo 3,...,A,B,B,A,B,A,A,A,A,C
8,2017,11,1100015,11025638,2,1,NaN,51.9,53.7,Grupo 3,...,A,C,B,A,B,A,A,A,A,C
9,2017,11,1100015,61223483,3,1,87.5,27.3,NaN,NaN,...,C,B,B,A,B,B,B,A,B,B

In [26]:
provaBrasil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73674 entries, 0 to 73673
Columns: 154 entries, ID_PROVA_BRASIL to TX_RESP_Q074
dtypes: float64(78), int64(7), object(69)
memory usage: 86.6+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [74]:
provaBrasil_Pelotas = filterPelotas(provaBrasil)

In [75]:
provaBrasil_Pelotas.head()

,ID_PROVA_BRASIL,ID_UF,ID_MUNICIPIO,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,PC_FORMACAO_DOCENTE_INICIAL,PC_FORMACAO_DOCENTE_FINAL,PC_FORMACAO_DOCENTE_MEDIO,NIVEL_SOCIO_ECONOMICO,...,TX_RESP_Q065,TX_RESP_Q066,TX_RESP_Q067,TX_RESP_Q068,TX_RESP_Q069,TX_RESP_Q070,TX_RESP_Q071,TX_RESP_Q072,TX_RESP_Q073,TX_RESP_Q074
0,2017,43,4314407,43065376,3,2,66.7,66.7,NaN,NaN,...,A,A,A,A,A,A,A,A,A,C
1,2017,43,4314407,43100104,3,1,66.7,73.9,73.0,Grupo 4,...,A,A,A,A,A,A,A,A,A,C
2,2017,43,4314407,43100147,3,1,60.0,71.4,NaN,Grupo 4,...,A,B,A,A,A,A,A,A,A,B
3,2017,43,4314407,43100155,3,2,90.5,56.7,NaN,Grupo 5,...,A,C,A,A,A,A,A,A,A,A
4,2017,43,4314407,43100163,3,1,33.7,56.3,NaN,Grupo 4,...,A,C,A,A,B,A,A,A,A,C

In [29]:
provaBrasil_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Columns: 154 entries, ID_PROVA_BRASIL to TX_RESP_Q074
dtypes: float64(78), int64(7), object(69)
memory usage: 62.7+ KB

* Colunas desnecessárias

In [86]:
deletingColumns(provaBrasil_Pelotas)

In [87]:
provaBrasil_Pelotas.head()

,ID_PROVA_BRASIL,ID_ESCOLA,PC_FORMACAO_DOCENTE_INICIAL,PC_FORMACAO_DOCENTE_FINAL,PC_FORMACAO_DOCENTE_MEDIO,NU_MATRICULADOS_CENSO_5EF,NU_PRESENTES_5EF,TAXA_PARTICIPACAO_5EF,NIVEL_0_LP5,NIVEL_1_LP5,...,NIVEL_8_MT3,NIVEL_9_MT3,NIVEL_10_MT3,MEDIA_5EF_LP,MEDIA_5EF_MT,MEDIA_9EF_LP,MEDIA_9EF_MT,MEDIA_3EM_LP,MEDIA_3EM_MT,IN_PREENCHIMENTO_QUESTIONARIO
0,2017,43065376,66.7,66.7,NaN,18.0,18.0,1.000000,5.56,5.56,...,NaN,NaN,NaN,195.61,211.85,NaN,NaN,NaN,NaN,1
1,2017,43100104,66.7,73.9,73.0,163.0,146.0,0.895706,1.51,4.14,...,0.0,0.0,0.0,216.39,220.44,269.73,266.20,279.36,274.14,1
2,2017,43100147,60.0,71.4,NaN,43.0,39.0,0.906977,7.49,10.34,...,NaN,NaN,NaN,186.08,193.33,244.41,228.84,NaN,NaN,1
3,2017,43100155,90.5,56.7,NaN,26.0,20.0,0.769231,4.55,13.64,...,NaN,NaN,NaN,199.57,202.37,246.92,259.57,NaN,NaN,1
4,2017,43100163,33.7,56.3,NaN,65.0,59.0,0.907692,0.00,20.12,...,NaN,NaN,NaN,197.32,207.72,272.64,272.25,NaN,NaN,1

### Teste JSON

In [77]:
rowData = provaBrasil_Pelotas.iloc[ 0 , : ]

In [78]:
JSONstructure(rowData)

{'Resultado Prova Brasil': {'Ano': 2017,
  'Média 5º ano': {'Língua Portuguesa': 195.61, 'Matemática': 211.85},
  'Média 9º ano': {'Língua Portuguesa': nan, 'Matemática': nan},
  'Média 3º/4º série do ensino médio': {'Língua Portuguesa': nan,
   'Matemática': nan}}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [83]:
insertIntoDB(provaBrasil_Pelotas, collection)

In [84]:
collection.find_one({"Código INEP": 43065376})

{'_id': ObjectId('5f2620d181e7e7953bdb84e2'),
 'Restrição de Atendimento': 'ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATENDIMENTO',
 'Escola': 'EMEF WALDEMAR DENZER',
 'Código INEP': 43065376,
 'UF': 'RS',
 'Município': 'Pelotas',
 'Localização': 'Rural',
 'Localidade Diferenciada': 'Área remanescente de quilombos',
 'Categoria Administrativa': 'Pública',
 'Endereço': 'COLONIA ALIANCA, SN 4º DISTRITO. 96145-000 Pelotas - RS.',
 'Telefone': '(53) 984217162',
 'Dependência Administrativa': 'Municipal',
 'Categoria Escola Privada': 'Não Informado',
 'Conveniada Poder Público': 'Não',
 'Regulamentação pelo Conselho de Educação': 'Sim',
 'Porte da Escola': 'Entre 51 e 200 matrículas de escolarização',
 'Etapas e Modalidade de Ensino Oferecidas': 'Educação Infantil, Ensino Fundamental',
 'Outras Ofertas Educacionais': 'Atividade Complementar',
 'Latitude': None,
 'Longitude': None,
 'Média de alunos por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': 19.0, 'Creche': nan, 'Pré-Escola': 19.0},
  'Ensino Fundamental 8 e 9 anos': {'Total': 16.7,
   'Anos Iniciais': 12.8,
   'Anos Finais': 21.5,
   '1 Ano': 10.0,
   '2 Ano': 8.0,
   '3 Ano': 16.0,
   '4 Ano': 16.0,
   '5 Ano': 14.0,
   '6 Ano': 32.0,
   '7 Ano': 18.0,
   '8 Ano': 20.0,
   '9 Ano': 16.0,
   'Turmas Multietapa, Multi ou Correção de Fluxo 2': nan},
  'Ensino Médio': {'Total': nan,
   '1 série': nan,
   '2 série': nan,
   '3 série': nan,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Media Horas-Aula diárias por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': 4.0, 'Creche': nan, 'Pré-Escola': 4.0},
  'Ensino Fundamental 8 e 9 anos': {'Total': 4.0,
   'Anos Iniciais': 4.0,
   'Anos Finais': 4.0,
   '1 Ano': 4.0,
   '2 Ano': 4.0,
   '3 Ano': 4.0,
   '4 Ano': 4.0,
   '5 Ano': 4.0,
   '6 Ano': 4.0,
   '7 Ano': 4.0,
   '8 Ano': 4.0,
   '9 Ano': 4.0},
  'Ensino Médio': {'Total': nan,
   '1 série': nan,
   '2 série': nan,
   '3 série': nan,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Taxa de distorção de idade-série por turma': {'Última atualização': 2019.0,
  'Ensino Fundamental 8 e 9 anos': {'Total': 18.0,
   'Anos Iniciais': 3.1,
   'Anos Finais': 29.1,
   '1 Ano': 0.0,
   '2 Ano': 0.0,
   '3 Ano': 0.0,
   '4 Ano': 0.0,
   '5 Ano': 14.3,
   '6 Ano': 31.3,
   '7 Ano': 38.9,
   '8 Ano': 25.0,
   '9 Ano': 18.8},
  'Ensino Médio': {'Total': nan,
   '1 série': nan,
   '2 série': nan,
   '3 série': nan,
   '4 série': nan}},
 'Taxa de rendimento por turma': {'Última atualização': 2018.0,
  'Ensino Fundamental 8 e 9 anos': {'Aprovados': {'Total': 88.3,
    'Anos Iniciais': 96.2,
    'Anos Finais': 80.3,
    '1 Ano': 100.0,
    '2 Ano': 100.0,
    '3 Ano': 100.0,
    '4 Ano': 92.3,
    '5 Ano': 92.0,
    '6 Ano': 68.2,
    '7 Ano': 86.4,
    '8 Ano': 81.8,
    '9 Ano': 90.0},
   'Reprovados': {'Total': 9.7,
    'Anos Iniciais': 3.8,
    'Anos Finais': 15.8,
    '1 Ano': 0.0,
    '2 Ano': 0.0,
    '3 Ano': 0.0,
    '4 Ano': 7.7,
    '5 Ano': 8.0,
    '6 Ano': 27.3,
    '7 Ano': 13.6,
    '8 Ano': 13.6,
    '9 Ano': 0.0},
   'Abandonos': {'Total': 2.0,
    'Anos Iniciais': 0.0,
    'Anos Finais': 3.9,
    '1 Ano': 0.0,
    '2 Ano': 0.0,
    '3 Ano': 0.0,
    '4 Ano': 0.0,
    '5 Ano': 0.0,
    '6 Ano': 4.5,
    '7 Ano': 0.0,
    '8 Ano': 4.6,
    '9 Ano': 10.0}},
  'Ensino Médio': {'Aprovados': {'Total': nan,
    '1 série': nan,
    '2 série': nan,
    '3 série': nan,
    '4 série': nan,
    'Não-Seriado': nan},
   'Reprovados': {'Total': nan,
    '1 série': nan,
    '2 série': nan,
    '3 série': nan,
    '4 série': nan,
    'Não-Seriado': nan},
   'Abandonos': {'Total': nan,
    '1 série': nan,
    '2 série': nan,
    '3 série': nan,
    '4 série': nan,
    'Não-Seriado': nan}}},
 'Taxa de não resposta por turma': {'Última atualização': 2018.0,
  'Ensino Fundamental 8 e 9 anos': {'Total': 0.0,
   'Anos Iniciais': 0.0,
   'Anos Finais': 0.0,
   '1 Ano': 0.0,
   '2 Ano': 0.0,
   '3 Ano': 0.0,
   '4 Ano': 0.0,
   '5 Ano': 0.0,
   '6 Ano': 0.0,
   '7 Ano': 0.0,
   '8 Ano': 0.0,
   '9 Ano': 0.0},
  'Ensino Médio': {'Total': nan,
   '1 série': nan,
   '2 série': nan,
   '3 série': nan,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Percentual de funções docentes com curso superior': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': 100.0, 'Creche': nan, 'Pré-Escola': 100.0},
  'Ensino Fundamental': {'Total': 100.0,
   'Anos Iniciais': 100.0,
   'Anos Finais': 100.0},
  'Ensino Médio': nan,
  'Educação Profissional': nan,
  'Educação de Jovens e Adultos (EJA)': nan,
  'Educação Especial': nan},
 'Percentual de docentes por grupo do indicador de adequação da formação do docente': {'Última atualização': 2019.0,
  'Educação Infantil': {'Grupo 1': 33.3,
   'Grupo 2': 0.0,
   'Grupo 3': 33.3,
   'Grupo 4': 33.4,
   'Grupo 5': 0.0},
  'Ensino Fundamental': {'Total': {'Grupo 1': 71.2,
    'Grupo 2': 0.0,
    'Grupo 3': 15.2,
    'Grupo 4': 13.6,
    'Grupo 5': 0.0},
   'Anos iniciais': {'Grupo 1': 70.0,
    'Grupo 2': 0.0,
    'Grupo 3': 13.3,
    'Grupo 4': 16.7,
    'Grupo 5': 0.0},
   'Anos finais': {'Grupo 1': 72.2,
    'Grupo 2': 0.0,
    'Grupo 3': 16.7,
    'Grupo 4': 11.1,
    'Grupo 5': 0.0}},
  'Ensino Médio': {'Grupo 1': nan,
   'Grupo 2': nan,
   'Grupo 3': nan,
   'Grupo 4': nan,
   'Grupo 5': nan},
  'EJA': {'Ensino Fundamental': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan},
   'Ensino Médio': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan}}},
 'Esforço docente': {'Última atualização': 2019.0,
  'Ensino Fundamental': {'Total': {'Grupo 1': 21.5,
    'Grupo 2': 0.0,
    'Grupo 3': 21.4,
    'Grupo 4': 50.0,
    'Grupo 5': 7.1,
    'Grupo 6': 0.0},
   'Anos iniciais': {'Grupo 1': 50.0,
    'Grupo 2': 0.0,
    'Grupo 3': 16.7,
    'Grupo 4': 33.3,
    'Grupo 5': 0.0,
    'Grupo 6': 0.0},
   'Anos finais': {'Grupo 1': 0.0,
    'Grupo 2': 0.0,
    'Grupo 3': 20.0,
    'Grupo 4': 70.0,
    'Grupo 5': 10.0,
    'Grupo 6': 0.0}},
  'Ensino Médio': {'Grupo 1': nan,
   'Grupo 2': nan,
   'Grupo 3': nan,
   'Grupo 4': nan,
   'Grupo 5': nan,
   'Grupo 6': nan}},
 'Indicador de complexidade de gestão da escola': {'Última atualização': 2019,
  'Nível de complexidade de gestão da escola': 'Nível 3'},
 'Resultado Prova Brasil': {'Ano': 2017,
  'Média 5º ano': {'Língua Portuguesa': 195.61, 'Matemática': 211.85},
  'Média 9º ano': {'Língua Portuguesa': nan, 'Matemática': nan},
  'Média 3º/4º série do ensino médio': {'Língua Portuguesa': nan,
   'Matemática': nan}}}